{% extends "layout.html" %}
{% block content %}
<div class="border rounded text-center">
    <h1 class="text-center">Customize</h1>
    <div class="border rounded text-center m-2" style="width: 250px; height: 200px;">
        <h3>Preview</h3>
        <form method="POST" action="">
            <div class="border rounded-circle mx-auto" style="width: 140px; height: 140px;">
                <img src="{{ url_for('static', filename='gifs/funnel.gif') }}" style="width: 140px; height: 140px;">
            </div>
        </form>
    </div>
    <div class="border rounded align-middle text-center m-2" style="width: 250px; height: 50px;">
        <table class="table text-center table-borderless" style="table-layout: fixed;">
            <tr>
                <td>
                    <form method="POST" action="">
                        {{ dropdown.die }}
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="border rounded text-center m-2 text-wrap overflow-auto" style="width: 250px; height: 200px;">
        <h3>Profile List</h3>
        <table class="table text-center table-borderless" style="table-layout: fixed;">
            {% for form in profile_forms %}
                <tr class="d-flex" style="height: 35px;">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <td style="width: 45%;">{{ form.name }}</td>
                        <td class="mx-2" style="width: 20%;">{{ form.delete }}</td>
                        <td class="mx-2" style="width: 20%;">{{ form.submit }}</td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="border rounded text-center m-2" style="width: 250px; height: 50px;">
        <h4><a href="{{ url_for('profiles.profile_new', name='new') }}">Create New Profile</a></h4>
    </div>
</div>
{% endblock content %}