{% extends "layout.html" %}
{% block content %}
<div class="border rounded text-center">
  <h1 class="text-center">Home</h1>
  <div class="border rounded text-center m-2" style="width: 200px; height: 200px;">
    <h3>RGB Dice Screen</h3>
  </div>
  <div class="border rounded text-center m-2 text-wrap overflow-auto" style="width: 200px; height: 200px;">
    <h3>Roll History</h3>
    {% for roll in roll_history %}
      <div>
        {% if roll.d2 > 0 %}
          {{roll.d2}}d2 [{% for result in roll.d2_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d3 > 0 %}
          {{roll.d3}}d3 [{% for result in roll.d3_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d4 > 0 %}
          {{roll.d4}}d4 [{% for result in roll.d4_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d6 > 0 %}
          {{roll.d6}}d6 [{% for result in roll.d6_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d8 > 0 %}
          {{roll.d8}}d8 [{% for result in roll.d8_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d10 > 0 %}
          {{roll.d10}}d10 [{% for result in roll.d10_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d12 > 0 %}
          {{roll.d12}}d12 [{% for result in roll.d12_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d20 > 0 %}
          {{roll.d20}}d20 [{% for result in roll.d20_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}

        {% if roll.d100 > 0 %}
          {{roll.d100}}d100 [{% for result in roll.d100_result %}{{result}}{% if not loop.last %}, {% endif %}{% endfor %}] + 
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  </div>
</div>
    
{% endblock content %}